db.sqlite3
infopagetemplateapp/__pycache__/
infopagetemplateapp/migrations/
static/img
infopagetemplate/__pycache__/
infopagetemplate/__pycache__/settings.cpython-37.pyc
infopagetemplate/__pycache__/settings.cpython-39.pyc
infopagetemplate/__pycache__/__init__.cpython-39.pyc
infopagetemplate/__pycache__/settings.cpython-39.pyc
media/static/img/3hssna.jpg
